.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* height: 100px; */
  /*   paddin0px 0;
 */
  margin-bottom: 50px;
  gap: 30px;
}

.punkLogo {
  width: 200px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #1c1c1e;
  border-radius: 50px;
  padding: 15px;
  gap: 5px;
}

.searchIconContainer {
  height: 24px;
}

.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.headerItemsContainer {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.headerItem {
  color: #a1a5b0;
}

.headerItem:hover {
  color: #eee;
}

.headerActions {
  display: flex;
  align-items: center;
}

.themeSwitchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.themeSwitchContainer:hover {
  opacity: 0.8;
}

.themeSwitch {
  height: 20px;
}

.loginButton {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.loginButton:hover {
  opacity: 0.8;
}
